<article class="post">
    <% if (page.categories){%>
    <% page.categories.each(function (cat) { %>
    <h4 class="post-cat">
        <a href="<%- url_for(cat.path) %>">
            <%= cat.name %>
        </a>
    </h4>
    <%  }) %>
    <% } %>
    <h2 class="post-title">
        <%= page.title %>
    </h2>
    <ul class="post-date">
        <li>
            <%- date(page.date, "YYYY-MM-DD") %>
        </li>
        <li>
            <%= config.author %>
        </li>
    </ul>
    <div class="post-content">
        <%- page.content %>
    </div>
</article>
<!-- 评论 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<div id="gitalk-container"></div>
<script>
    const gitalk = new Gitalk({
        clientID: 'b3a26cbf3ec16c66012f',
        clientSecret: 'b84d6fe557a8dc78cd4edc8d97aaedeb79374c9e',
        repo: 'ZXKitCode.github.io',      // The repository of store comments,
        owner: 'ZXKitCode',
        admin: ['DamonHu'],
        id: location.pathname,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    })
    gitalk.render('gitalk-container')
</script>