<header class="header">
    <nav class="mobile-menu" style="background: <%- theme.background %>">
        <h3 class="invisibile">
            <a href="<%- url_for() %>" class="logo">
                <%= config.title %>
            </a>
        </h3>
        <% if (is_home() || theme.postWidget) { %>
            <button class="menu">menu</button>
        <% } %>
    </nav>
    <% if (is_home() || theme.postWidget) { %>
        <button class="ipad-menu menu">menu</button>
    <% } %>

    <h1 class="title" id="main-title">
        <a href="<%- url_for() %>" class="logo">
            <%= config.title %>
        </a>
    </h1>
    <h2 class="desc">
        <%= config.subtitle %>
    </h2>

    <div class="links">
        <ul>
            <% for (name in theme.social) { %>
            <li>
                <a href="<%- url_for(theme.social[name]) %>">
                    <%- name %>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
    <% if (theme.highlightjs) { %>
        <!-- Highlight.js -->
        <link rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/styles/default.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.7.2/build/highlight.min.js"></script>
        <% if (theme.showLineNum) { %>
            <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <% } %>
        <% if (theme.showLineNum) { %>
            <script>
                hljs.highlightAll();
                hljs.initLineNumbersOnLoad();
            </script>
            <style>
                /* for block of numbers */
            .hljs-ln-numbers {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                text-align: center;
                color: #666;
                vertical-align: top;
                padding-right: 5px;
            }
            /* for block of code */
            .hljs-ln-code {
                padding-left: 1em !important;
            }
            </style>
        <% } else { %>
            <script>
                hljs.highlightAll();
            </script>
        <% } %>
        
    <% } %>
</header>